.contenedor-dash {
    display: grid;
    grid-template-columns: 300px auto;
}

.contenedor-dash .baner {
    /* background-color: #5252f7; */
    /* background-color: #0f256e; */
    /* background-color: #038868; */
    /* background-color:  #154360; */
    background-color: #212f3c ;
}

.contenedor-dash .datas-coin .cards-contenedor {
    display: grid;
    padding: 20px;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}