/* Contenedor general para el dash board. */
.contenedor-dash {
    display: grid;
    grid-template-columns: 300px auto;
}

/* Panel lateral */
.contenedor-dash .baner {
    background: rgb(15,37,110);
    background: linear-gradient(rgba(15,37,110,1) 29%, rgba(82,82,247,1) 68%, rgba(0,212,255,1) 100%); 
    padding: 20px;
}

.contenedor-dash .baner h2 {
    font-size: 32px;
    transition: 0.5s ease;
}

.contenedor-dash .baner .moneda {
    margin: 35px 0px;
}

.contenedor-dash .baner .moneda .nombreM {
    font-size: 20px;
    margin: 0px 0px 2px 0px;
}
.contenedor-dash .baner .moneda .valorM {
    margin: 0px;
    font-weight: bold;
    font-size: 30px;
}

/* Datos de las crypto */
.contenedor-dash .datas-coin .cards-contenedor {
    display: grid;
    padding: 20px;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}